# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
.DS_Store
.idea

# Folders
_obj
_test
web/src/gopkg.in
web/src/github.com
web/src/code.google.com
web/src/web/public/node_modules
web/src/web/public/noteton.key
web/src/web/public/noteton.pem
web/web.iml
web/.idea
web/bin
system_config/*id_rsa
system_config/*id_rsa.pub
web/web.tar.gz

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
