@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-8s2ghw');
	src:url('/fonts/icomoon.eot?#iefix-8s2ghw') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-8s2ghw') format('woff'),
		url('/fonts/icomoon.ttf?-8s2ghw') format('truetype'),
		url('/fonts/icomoon.svg?-8s2ghw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before {
	content: "\e600";
}

.icon-pencil2:before {
	content: "\e906";
}

.icon-camera:before {
	content: "\e90f";
}

.icon-price-tag:before {
	content: "\e935";
}

.icon-price-tags:before {
	content: "\e936";
}

.icon-qrcode:before {
	content: "\e938";
}

.icon-users:before {
	content: "\e972";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-accessibility:before {
	content: "\e9b2";
}

.icon-cloud-upload:before {
	content: "\e9c3";
}

.icon-cloud-check:before {
	content: "\e9c4";
}

.icon-github4:before {
	content: "\eab4";
}

.icon-apple:before {
	content: "\eabf";
}

.icon-android:before {
	content: "\eac1";
}

.icon-star:before {
	content: "\e601";
}

.icon-bulb:before {
	content: "\e602";
}

.icon-like:before {
	content: "\e603";
}

